@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600&display=swap');
:root{
    --yellow:#f9d806;
    --light-yellow:#ffee80;
    --black:#130f40;
    --light-color:#666;
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    --border:.1rem solid rgba(0,0,0,.1);
}

*{
    font-family: 'Poppins',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

section{
    padding:0 1rem;
}

.heading{
    text-align: center;
    padding-bottom: 2rem;
    font-size: 4.5rem;
    color: black;
}

 .heading span{
    position: relative;
    z-index: 0;
}

.heading span::before{
    content: '';
    position: absolute;
    bottom:1rem; left:0;
    height: 100%;
    width: 100%;
     /* background: var(--light-yellow); */
     z-index: -1;
    clip-path: polygon(0 90%, 100% 80%, 100% 100%, 0% 100%);
} 


.btn{
    display: inline-block;
    margin-top: 1rem;
    border: 0.5rem;
    background-color:yellow;
    color:black;
    font-weight: 500;
    font-size: 1.7rem;
    cursor: pointer;
    padding: 0.5rem 3rem;
}

.btn:hover{
    background-color:lightyellow;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 9%;
}
.header .logo{
    font-size: 2.5rem;
    color:black;
    font-weight: bold;
}

.header .logo span{
    color:yellow;
}

.header .navbar a{
    margin:0 1rem;
    font-size: 1.7rem;
    color:black;
}

.header .navbar a:hover{
    color:yellow;
}

.header.btn{
    margin-top: 0;
}

.header #login-btn i{
    font-size: 2.5rem;
    cursor: pointer;
}

#menu-btn{
    font-size:2.5rem;
    cursor: pointer;
    display: none;
    color:var(--light-color);
}


.login-form-container{
    position: fixed;
    top: 105%;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    opacity: 0;
}


.login-form-container form{
    padding: 2rem;
    margin: 2rem;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
    background: #fff;
    border: var(--border);
    text-align: center;
    width: 40rem;
}

.login-form-container form .buttons{
    display: flex;
    align-items:center;
    gap: 1rem;
}

.login-form-container form .btn{
    display: block;
    width: 100%;
    margin: 0.5rem 0;
}

.login-form-container form h3{
    color: black;
    font-size: 2.5rem;
    padding-bottom: 1rem;
    text-transform:uppercase;
}

.login-form-container form .box{
    margin: 0.7rem 0;
    width: 100%;
    text-transform: none;
    color: black;
    font-size: 1.5rem;
    padding: 1rem 1.2rem;
    border: var(--border);
    border-radius: 0.5rem;
}

.login-form-container form p{
    padding:1rem 0;
    font-size: 1.5rem;
    color: var(--light-color);
}

.login-form-container form p a{
    color:blue;
    text-decoration: underline;
}

.login-form-container #close-login-form{
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
    font-size: 3rem;
    color:var(--light-color);
    cursor: pointer;

}

.home{
    padding-top: 10rem;
    text-align: center;
    overflow-x: hidden;
}

.home h1{
    font-size: 6vw;
    text-transform: uppercase;
    color: black;
}

.home img{
    width: 100%;
    margin: 1rem 0;
}

.home a{
    margin-bottom: 10px;
}

.icons-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    /* padding-left: 20rem; */
    background: #eee;
   
}

.icons-container .icons{
    display: flex;
    align-items: center;
    gap:1.5rem;
    padding: 2rem;
    background: #fff;
    box-shadow: var(--box-shadow);
    border-radius: 0.5rem;
}
.icons-container .icons i{
    height:6rem;
    width:6rem;
    line-height:6rem;
    font-size:2.5rem;
    color:black;
    background:#eee;
    text-align: center;
    border-radius: 50%;
}

.icons-container .icons .content h3{
    color: yellow;
    font-size: 2.5rem;
}

.icons-container .icons .content p{
    color: var(--light-color);
    font-size: 1.5rem;
}

.icons-container .icons:hover{
    background: #fff;
}

.icons-container .icons:hover i{
    background: yellow;
}

.icons-container .icons:hover .content h3{
    color:black ;
}
.icons-container .icons:hover .content p{
    color: black;
}



#menu-btn.fa-times{
    transform: rotate(180deg);
}

/* vehicles */

.vehicles .heading{
    padding-top: 10rem;
}

.vehicles .vehicles-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.vehicles .vehicles-container .box{
    padding:2rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border:var(--border);
    text-align: center;
    height: 38rem;
    margin-bottom: 1rem;
}

.vehicles .vehicles-container .box i{
    height:6rem;
    width:6rem;
    line-height: 6rem;
    border-radius: 50%;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    background:yellow;
    color:black;
}

.vehicles .vehicles-container .box h3{
    font-size: 2.2rem;
    color:var(--black);
}

.vehicles .vehicles-container .box p{
    line-height: 1.8;
    padding:1rem 0;
    font-size: 1.4rem;
    color:var(--light-color);
}


.vehicles .vehicles-container .box:hover h3{
    color:yellow;
}

.vehicles .vehicles-container .box:hover p{
    color:black;
}

/* services */
.services .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
    margin-bottom: 1rem;
}

.services .box-container .box{
    padding:2rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border:var(--border);
    text-align: center;
}

.services .box-container .box i{
    height:6rem;
    width:6rem;
    line-height: 6rem;
    border-radius: 50%;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    background:yellow;
    color:black;
}

.services .box-container .box h3{
    font-size: 2.2rem;
    color:var(--black);
}

.services .box-container .box p{
    line-height: 1.8;
    padding:1rem 0;
    font-size: 1.4rem;
    color:var(--light-color);
}

.services .box-container .box:hover{
    background: black;
}

.services .box-container .box:hover h3{
    color:#fff;
}

.services .box-container .box:hover p{
    color:#eee;
}

/* parts */



.parts .parts-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.parts .parts-container .box{
    padding:1.7rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border:var(--border);
    text-align: center;
    height: 38rem;
    margin:1rem;
}


.parts .parts-container .box h3{
    font-size: 2.2rem;
    color:var(--black);
}

.parts .parts-container .box p{
    line-height: 1.8;
    padding:1rem 0;
    font-size: 1.4rem;
    color:var(--light-color);
}
/* .parts .parts-container .box:hover{
    background: black;
} */

.parts .parts-container .box:hover h3{
    color:yellow;
}

.parts .parts-container .box:hover p{
    color:black;
}

.parts .parts-container .box:hover .price1{
    color: black;
}

/* review */

.reviews .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.reviews .box-container .box{
    padding:2rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border:var(--border);
    text-align: center;
}

.reviews .box-container .box i{
    height:6rem;
    width:6rem;
    line-height: 6rem;
    border-radius: 50%;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    background:yellow;
    color:black;
}

.reviews .box-container .box h3{
    font-size: 2.2rem;
    color:var(--black);
}

.reviews .box-container .box p{
    line-height: 1.8;
    padding:1rem 0;
    font-size: 1.4rem;
    color:var(--light-color);
}

/* .reviews .box-container .box:hover{
    background: black;
} */

.reviews .box-container .box:hover h3{
    color:yellow;
}

.reviews .box-container .box:hover p{
    color:black;
}



/* contact */
.contact .row{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem
}

.contact .row form{
    padding: 2rem;
    border: var(--border);
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
    text-align: center;
    width: 100%;
}

.contact .row form h3{
    font-size: 3rem;
}

.contact .row form .box{
    margin: 0.7rem 0;
    width: 100%;
    border: var(--border);
    padding: 1rem;
    font-size: 1.6rem;
    color: black;
    text-transform: none;
    border-radius: 0.5rem;
}
.contact .row form textarea{
    height: 15rem;
    resize: none;
}

.footer{
    background: var(--light-color);
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}

.footer .box-container .box h3{
    color: black;
    font-size: 2.2rem;
    padding: 1rem 0;
}

.footer .box-container .box a{
    color: black;
    font-size: 1.4rem;
    display: block;
    padding: 1rem 0;
}

.footer .box-container .box a i{
    padding-right: 0.5rem;
}

.footer .box-container .box a:hover i{
    padding-right: 2rem;
}

@media(max-width:991px){
    html{
        font-size: 55%;       
    }
    .header{
        padding: 2rem;
    }

}

@media(max-width:768px)
{
   
    #menu-btn{ 
    display: block;
    }

    #menu-btn.fa-times{
        transform: rotate(180deg);
    }
    #login-btn .btn{
        display: none;
    }

    #login-btn i{
        display: block;
    }

    .header .navbar{
        position: absolute;
        top:99%;
        left:0; 
        right:0;
        background: white;
        border-top: border;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .header .navbar a{
        margin:2rem;
        display: block;
        font-size: 2rem;
    }


}

@media(max-width:450px){
    html{
        font-size:50%;
    }
    .heading{
        font-size: 3rem;
    }
}